/* @import "theme/purple"; */
.demo-layout-transparent {
    /*ackground: url('../img/background-head.jpg') center / cover;*/
    background: #e4e4e4;
  }
  .demo-layout-transparent .mdl-layout__header,
  .demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: white;
  }
.mdl-layout__content {background: white; margin: auto; min-width: 900px; width: 90%;}
.mdl-card {min-width: 800px; width: 90%;}
.mdl-card__media {background-color: #ff4040; background: url(../img/background-head.jpg) center / cover;}
.mdl-card__supporting-text {color: rgba(0,0,0,.26);}
.mdl-textfield__label {color: rgba(0, 0, 0, 0.58);}
.mdl-textresult {
  bottom: 0;
  color: rgb(0, 0, 0);
  font-size: 16px;
  left: 0;
  right: 0;
  white-space: nowrap;
  text-align: left;
  margin-top: 30px;
}
.mdl-odd {background: aliceblue;}
.mdl-button--fab {
  float: right;
  border-radius: 50%;
  font-size: 24px;
  height: 100px;
  margin: 9px;
  /* left: 20px; */
  min-width: 100px;
  width: 100px;
  padding: 0;
  overflow: hidden;
  background: rgba(158,158,158,.2);
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
  position: sticky;
  line-height: normal;
  /* z-index: 2; */
}
/* titolo applicazione */
.mdl-layout__title, .mdl-layout-title {
  display: block;
  position: relative;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
  text-shadow: 3px 7px 4px #000000;
}